<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spotube</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <h1 style="margin-top: 60px;"><%= playlistName %></h1>
    <div class="my-playlists-div">
        <% tracks.forEach(track => { %>
          <form action="/getUserPlaylistSongs" method="POST">
            <div class="playlist-elements" onclick="this.parentNode.submit()">
              <input type="hidden" name="playlistId" value="<%= track[2] %>">
              <img class="playlist-banner" src="<%= track[1] %>" alt="Playlist banner">
              <button type="submit" class="playlist-link">
                <%= track[0] %>
              </button>
            </div>
          </form>
        <% }); %>
      </div>      
</body>

</html>