<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spotube</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <h1 style="margin-top: 60px;"><%= playlistName %></h1>
    <div class="my-playlists-div">
        <% tracks.forEach(track => { %>
          <form action="/convertToYoutube" method="POST">
            <div class="playlist-elements" onclick="this.parentNode.submit()">
              <img class="playlist-banner" src="<%= track[1] %>" alt="Playlist banner">

              <% if (track[1] === "Spotify_App_Logo.svg.png") { %>
                <p class="playlist-link">
                  Song Not Available :&#40;
                </p>
              <% } else { %>
                <p class="playlist-link">
                  <%= track[0] %>
                </p>
              <% } %>
            </div>
          </form>
        <% }); %>
      </div>      
</body>

</html>