<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spotube</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="home-div">
        <h1>Welcome <%= name %></h1>
        <form action="/myPlaylists" method="post">
            <button type="submit">Get My playlists</button>
        </form>
    </div>
</body>
</html>